.container {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

}
.title {
  font-size: 30px;
}
.text {
  font-size: 18px;
}
.link {
  color: darkviolet;
  text-decoration: none;
}

.link:hover {
  color: aqua;

}